@media (max-width: 600px) {
  .page-container {
    padding: 1rem;
  }

  .game-start {
    gap: 4rem;
  }

  .game-title {
    font-size: 1.4rem;
    font-weight: 600;
    border: 10px solid black;
    border-style: ridge;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
  }

  .game-title span {
    padding: 0.4rem 1.2rem;
    border-right: 0;
    display: inline-flex;
    align-items: center;
  }

  /* -----------２ページ目  ------------ */

  .game-page-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 0;
  }

  .game-container {
    order: 2;
    padding: 10px 0;
    padding-top: 0;
  }

  .ps-layout {
    order: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }

  .score-wrapper {
    padding-top: 10px;
  }

  .score-wrapper p {
    font-size: 0.6rem;
    border: 1px solid #ffffff;
    padding: 0.4rem 0.6rem;
    background-color: #000000;
    color: white;
    border: 10px solid var(--primary-color);
    border-style: ridge;
    box-sizing: border-box;
    text-align: center;
  }

  .score-wrapper span {
    padding-left: 1.5rem;
  }

  .next-block {
    display: none;
  }

  .main-canvas {
    margin-top: 20px;
    height: 60vh;
    order: 1;
  }

  .keyboard {
    width: 60%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 30px;
    margin: 0 auto;
  }

  .left-right {
    display: flex;
    justify-content: space-around;
  }

  .keyboard .up {
    margin: 0 auto;
  }

  .keyboard .down {
    margin: 0 auto;
  }

  /* -----------３ページ目  ------------ */

  #finalPage .score-wrapper {
    margin-bottom: 4rem;
  }

  #finalPage .score-wrapper p {
    margin: 1rem;
  }

  #finalPage button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 1rem;
    width: 268px;
  }

  #finalPage .btn {
    padding: 1rem 1.5rem;
    letter-spacing: 4px;
    height: 3.5rem;
    box-sizing: border-box;
  }
}
